.newDishWindow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box; 
}

.inputsPortion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.buttonSubmit button,
.buttonReset button {
    padding: 10px 20px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}

.buttonSubmit button:disabled {
    pointer-events: none;
    filter: opacity(0.3);
}

.buttonSubmit button:hover,
.buttonReset button:hover {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    filter: brightness(110%);
}

.buttonSubmit button:hover {
    
}

.buttonSubmit button {
    background-color: #F5C332;
    color: black;
    border-bottom: 1px solid #F5C332;
    
}
.buttonReset button {
    border-bottom: 1px solid transparent;
}

@keyframes slideinout {
    0% {
        right: 0px;
        opacity: 0;
    }
    10% {
        opacity: 1;
        right: 20px;
    }
    90% {
        right: 20px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 0;
    }
}
