@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.menuItemContainer {
    border-radius: 15px;
    display: flex;
    flex: 0 0 30%;
    box-shadow: 0px 0px 7px rgba(47, 47, 47, 0.253);
}
.menuItem {
    display: flex;
    flex-direction: column;
}

.menuItemImageBlock {
    height: 250px;
    width: inherit;
}

.menuItemImageBlock img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.menuItemTextBlock {
    padding: 0 10px 10px 10px;
}
.menuItemTextBlockUnavailable {
    color: #0e0e0e06;
}

.menuItemTextBlock,
.menuItemTextBlockUnavailable {

}
.menuItemName {
    padding: 10px 0;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    height: 40px;
    color: #6d1a1c;
}
.menuItemPricePortion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menuItemPrice {
    font-family: 'Montserrat';
    font-style: italic;
}
.menuItemPortion {
    font-family: 'Montserrat';
}