@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

.adminPage {

}

.preloaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.topicName {
    text-transform: capitalize;
    font-family: "Montserrat";
    font-size: 30px;
    color: rgb(65, 65, 65);
    position: relative;
}
.topicName::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: rgba(65, 65, 65, 0.3);
}

.dishesTopic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.addNewDish {
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}
.addNewDish p {
    font-size: 30px;
    margin: 0;
    font-weight: 900;
    color: rgb(65, 65, 65);
    margin: 0 10px 0 0;
}
.categoriesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding: 10px 0 ;
}
.categories {}
.category {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    text-transform: capitalize;
}
.dishes {}
.dishesContainer {
}

.addedNotify {
    width: 320px;
    background: #696562;
    color: #fff;
    font-weight: 500;
    border-top: 2px solid #353433;
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 10px 120px 10px 20px;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
    animation: 3.7s ease-in slideinout;
    overflow-wrap: break-word;
}

.addedNotify::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(78, 232, 78);
    clip-path: polygon(15.6% 63.1%, 42.5% 84.4%, 100% 0%, 44.5% 100%); /*Галочка*/
}