@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

.adminPage {

}
.topicName {
    text-transform: capitalize;
    font-family: "Montserrat";
    font-size: 30px;
    color: rgb(65, 65, 65);
    position: relative;
}
.topicName::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: rgba(65, 65, 65, 0.3);
}
.categoriesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding: 10px 0 ;
}
.categories {}
.category {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    text-transform: capitalize;
}
.dishes {}
.dishesContainer {
}
