.title {
    padding-left: 0.6em;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 0.6em;
}

.dialog {
    min-width: 24em;
    padding: 2em;
}

.receiptImage {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    padding: 0 24px !important;
}

.addButton {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 10px;
    font-family: "Roboto";
    font-weight: 400;
    color: #fff;
    background-color: #6d1a1bcf;
    border-radius: 15px;
    transition: .3s;
    padding: 0 0 1px 0;
    padding: 0 10px;
    height: 35px;
    
}

.addButton:hover {
    filter: brightness(120%);
}

.topping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select {
    background-color: #eaeaea;
}

.portion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
