@import url(//db.onlinewebfonts.com/c/ddb0fef9c9f506d23e3365a1fc5d56b3?family=Karolla+Web);

/*
Repeating orange-darkorange lines:

background: repeating-linear-gradient(90deg, #f0a700, #f0a700 20px, #fcc130 20px, #fcc130 35px);

&&

background: repeating-linear-gradient(90deg, #fcc130, #fcc130 20px, #f0a700 20px, #f0a700 35px);
*/


.main {
    flex: 1 1 auto;
    margin: 60px 0 0 0;
    background-color: rgba(242, 255, 142, 0.05);
}
