.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 64px*2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: calc(30px * var(--preloader-size));
    height: calc(30px * var(--preloader-size));
    background: #fcc130;
    border-radius: 50%;
}

.container:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(30px * var(--preloader-size));
    height: calc(30px * var(--preloader-size));
    border-radius: 50%;
    background: transparent;
    border: 4px solid #892426;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: circle-animate 4s linear infinite
}

.cup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(15.1px * var(--preloader-size));
    height: calc(10.8px * var(--preloader-size));
    
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.top {
    position: absolute;
    top: calc(-3px * var(--preloader-size));
    left: 0px;
    
    width: 100%;
    height: calc(6px * var(--preloader-size));
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
}

.circle {
    position: absolute;
    top: calc(0.5px * var(--preloader-size));
    left: calc(1px * var(--preloader-size));
    width: calc(100% - 2px * var(--preloader-size));
    height: calc(5px * var(--preloader-size));
    background: linear-gradient(to left, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.tea {
    position: absolute;
    top: calc(2px * var(--preloader-size));
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65, #e28462);
    border-radius: 50%;
}

.handle {
    position: absolute;
    right: calc(-3px * var(--preloader-size));
    top: calc(0.5px * var(--preloader-size));
    width: calc(4.3px * var(--preloader-size));
    height: calc(4.3px * var(--preloader-size));
    border: calc(1.3px * var(--preloader-size)) solid #dcdcdc;
    border-left: calc(0.5px * var(--preloader-size)) solid transparent;
    border-left: calc(0.5px * var(--preloader-size)) solid transparent;
    border-radius: 80%;
    transform: rotate(10deg);
}

.plate {
    position: absolute;
    bottom: calc(6.5px * var(--preloader-size));
    left: 50%;
    transform: translateX(-50%);
    width: calc(21.5px * var(--preloader-size));
    height: calc(8.6px * var(--preloader-size));
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-shadow: 0 calc(3.5px * var(--preloader-size)) calc(3.5px * var(--preloader-size)) rgba(0, 0, 0, 0.2);
}

.plate::before{
    content: "";
    position: absolute;
    top: calc(0.5px * var(--preloader-size));
    left: calc(0.5px * var(--preloader-size));
    right: calc(0.5px * var(--preloader-size));
    bottom: calc(0.5px * var(--preloader-size));
    border-radius: 50%;
    background: linear-gradient(to left, #f9f9f9, #d9d9d9);

}

.plate::after {
    content: "";
    position: absolute;
    top: calc(1.3px * var(--preloader-size));
    left: calc(1.3px * var(--preloader-size));
    right: calc(1.3px * var(--preloader-size));
    bottom: calc(1.3px * var(--preloader-size));
    background: radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent);
    border-radius: 50%;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 calc(2px * var(--preloader-size));
}

.vapour span {
    position: relative;
    bottom: calc(2.2px * var(--preloader-size));
    display: block;
    margin: 0 calc(0.2px * var(--preloader-size)) calc(5px * var(i));
    min-width: calc(0.4px * var(--preloader-size));
    height: calc(5.2px * var(--preloader-size));
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(5px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
    0%
    {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%
    {
        opacity: 1;
    }
    50%
    {
        transform: translateY(-30px) scaleX(3);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        transform: translateY(-60px) scaleX(5);
    }
}

@keyframes circle-animate {
    0% {
        transform: rotate(0deg);

    }
    25% {
        border-right: 4px solid #892426;
        
    }
    50% {
    }
    75% {
        border-left: 4px solid #892426;
    }
    100% {
        transform: rotate(360deg);

    }
}