.SecondTestForm {
    width: 100%;
    height: calc(100vh - 64px*2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 22px;
}